In [1]:
import base64
import datetime
import io

import dash
from dash.dependencies import Input, Output, State
import dash_core_components as dcc
import dash_html_components as html
import dash_table

import pandas as pd
import json
import os

In [2]:
user_format_input='csv'

In [3]:
t_tab=pd.read_csv('Input/Patienco.tsv', sep='\t')
t_tab
t_csv=pd.read_csv('Input/Patienco.csv')
t_csv

   ID        Name  Age   Favorite Color
0   1         Bob   23              Red
1   2  “Doe,John”   99  “””Turquoise”””

In [4]:
def parse_file(user_format_input):
    def fix_string(df):
        for col in (df.select_dtypes(exclude='int64').columns):
            #print(col)
            #Fix triple
            df[col]=df[[col]].applymap(lambda x:x.encode().decode('utf-8').replace('\u201c\u201d\u201d', '\"').replace('\u201d\u201d\u201d', '\"'))
            #Fix single
            df[col]=df[[col]].applymap(lambda x:x.encode().decode('utf-8').replace('\u201c', '\"').replace('\u201d', '\"'))
        print('Srings Fixed!')
        return df
    try:
        if user_format_input =='csv':
            # Assume that the user uploaded a CSV file
            df = pd.read_csv('Input/Patienco.csv')
        else:
            # Assume that the user uploaded an excel file
            df = pd.read_csv('Input/Patienco.tsv', sep='\t')
            
            
        #Fix stings
        df=fix_string(df)
        #Get JSON
        df_json=json.dumps(df.to_dict(orient="records"))
        return {'df_pd':df,'df_json':df_json}
        
    except Exception as e:
        print(e)
#         return html.Div([
#             'There was an error processing this file.'
#         ])

#     return html.Div([
#         html.H5(filename),
#         html.H6(datetime.datetime.fromtimestamp(date)),

#         dash_table.DataTable(
#             data=df.to_dict('records'),
#             columns=[{'name': i, 'id': i} for i in df.columns]
#         ),

In [5]:
parse_file('csv')

Srings Fixed!

{'df_pd':    ID        Name  Age Favorite Color
 0   1         Bob   23            Red
 1   2  "Doe,John"   99    "Turquoise",
 'df_json': '[{"ID": 1, "Name": "Bob", "Age": 23, "Favorite Color": "Red"}, {"ID": 2, "Name": "\\"Doe,John\\"", "Age": 99, "Favorite Color": "\\"Turquoise\\""}]'}

In [6]:
t_csv['Favorite Color'][1].encode().decode('utf-8').replace(u'\u201c\u201d\u201d', '\"').replace('\u201d\u201d\u201d', '\"')

'"Turquoise"'

In [7]:
t_csv['Name'][1].encode().decode('utf-8').replace(u'\u201c', '\"').replace('\u201d', '\"')

'"Doe,John"'

In [8]:
df=t_csv
def fix_string(df):
    for col in (df.select_dtypes(exclude='int64').columns):
        #print(col)
        #Fix triple
        df[col]=df[[col]].applymap(lambda x:x.encode().decode('utf-8').replace('\u201c\u201d\u201d', '\"').replace('\u201d\u201d\u201d', '\"'))
        #Fix single
        df[col]=df[[col]].applymap(lambda x:x.encode().decode('utf-8').replace('\u201c', '\"').replace('\u201d', '\"'))
    print('Strings Fixed!')
    return df

In [9]:
df

   ID        Name  Age   Favorite Color
0   1         Bob   23              Red
1   2  “Doe,John”   99  “””Turquoise”””

In [10]:
fix_string(df)

Strings Fixed!

   ID        Name  Age Favorite Color
0   1         Bob   23            Red
1   2  "Doe,John"   99    "Turquoise"

In [11]:
df_json=json.dumps(df.to_dict(orient="records"))
df_json

'[{"ID": 1, "Name": "Bob", "Age": 23, "Favorite Color": "Red"}, {"ID": 2, "Name": "\\"Doe,John\\"", "Age": 99, "Favorite Color": "\\"Turquoise\\""}]'

In [12]:
df.to_csv (r'C:\Users\Ron\Desktop\Test\New_Products.txt', index = False)

In [13]:
import urllib

In [14]:
csv_string = df.to_csv(index=False, encoding='utf-8')
csv_string = "data:text;charset=utf-8," + urllib.parse.quote(csv_string)
csv_string

'data:text;charset=utf-8,ID%2CName%2CAge%2CFavorite%20Color%0A1%2CBob%2C23%2CRed%0A2%2C%22%22%22Doe%2CJohn%22%22%22%2C99%2C%22%22%22Turquoise%22%22%22%0A'

In [15]:
df.to_csv(index=False)

'ID,Name,Age,Favorite Color\n1,Bob,23,Red\n2,"""Doe,John""",99,"""Turquoise"""\n'

In [16]:
df_json

'[{"ID": 1, "Name": "Bob", "Age": 23, "Favorite Color": "Red"}, {"ID": 2, "Name": "\\"Doe,John\\"", "Age": 99, "Favorite Color": "\\"Turquoise\\""}]'

In [17]:
with open('rawjson.json', 'w') as json_file:
    json.dump(df.to_dict(orient="records"), json_file)

In [18]:
"data:text;charset=utf-8," + urllib.parse.quote(json.dumps(df.to_dict(orient="records")).encode('utf-8'))

'data:text;charset=utf-8,%5B%7B%22ID%22%3A%201%2C%20%22Name%22%3A%20%22Bob%22%2C%20%22Age%22%3A%2023%2C%20%22Favorite%20Color%22%3A%20%22Red%22%7D%2C%20%7B%22ID%22%3A%202%2C%20%22Name%22%3A%20%22%5C%22Doe%2CJohn%5C%22%22%2C%20%22Age%22%3A%2099%2C%20%22Favorite%20Color%22%3A%20%22%5C%22Turquoise%5C%22%22%7D%5D'

In [ ]:
df_json

In [ ]:
json.dumps(df.to_dict(orient="records")).encode()